.App {
  display: flex;
  border: 1px solid white;
  color: white;
  height: 25rem;
  width: 25rem;
  margin-top: 50px;
  justify-content: center;
  border-radius: 10px;
}


#firstName{
  margin-top: 20px;
}

input{
  margin: 5px;
}

#email{
  margin-left: 2.8rem;
}

button{
  background-color: aliceblue;
  margin-top: 2rem;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5rem;
}
